#contianer{
    height: 500px;
    width: 1000px;
    background-color: white;
    border: 10px solid black;
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    text-align: center;
    
    
}    
h1{
    text-align: center;
}

#grenn{
    
    flex:  1 1 10px; 

}

#red{
    flex-shrink: 5;

   
}
#contianer div{
    height: 50px;
    width: 50px;
    text-align: center;
    color: white;

}

